/Attack.class
/Brigand.class
/Commoner.class
/Enemy.class
/Entity.class
/Exorcist.class
/Explorer.class
/GateKeeper.class
/HighwayMan.class
/MagicalAttack.class
/Magician.class
/MyApartment.class
/Peasant.class
/PhysicalAttack.class
/PlayerClass.class
/PrisonGuard.class
/QualityChecker.class
/Soothsayer.class
/Wizard.class
/spellStorage.class
/HelloWorld.class
